.dynamic-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dynamic-background-blue {
  background-image: radial-gradient(circle closest-side, #65c0e3, #3e6bd9);
}

.dynamic-background-green {
  background-image: radial-gradient(circle closest-side, #43f555, #01a54e);
}

.dynamic-background-red {
  background-image: radial-gradient(circle closest-side, #f97e84, #ed1a24);
}

.dynamic-background-yellow {
  background-image: radial-gradient(circle closest-side, #fff5b1, #e3bf00);
}
