.btn {
  width: 200px;
  max-width: 100%;
  transition: opacity 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  background-color: #b318ec;
}

.btn:hover {
  opacity: 0.6;
}
