.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 44px 0;
}

.container > div:first-child {
  position: absolute;
  display: flex;
  transition: transform 1.5s linear;
  flex-direction: column;
}

.clockwise {
  transform: rotate(360deg);
}

.anti-clockwise {
  transform: rotate(-360deg);
}
