.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    #e8df74 42.93%,
    #eee89d 48.17%,
    #faf8e3 57.53%,
    #fff 61.65%,
    #629dd8 80.36%
  );
  overflow: hidden;
  gap: 1rem;
  padding: 0.5rem;
}

.clouds {
  display: flex;
  width: 100vw;
  height: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  gap: 100px;
  user-select: none;
}

.cloud {
  animation: move-cloud 20s linear infinite;
  width: 200px;
}

.cloud + .cloud {
  margin-bottom: 20px;
  margin-right: 20px;
}

.logo {
  width: 14.75rem;
  animation: zoom 1s;
  z-index: 1;
  user-select: none;
}

.logo img {
  width: 100%;
}



.bg-world {
  background-image: url("../../assets//world-background.png");
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  animation: animation-background 2s ease-in-out;
}

.container-login {
  width: 49.87rem;
  height: 29.375rem;
  align-items: center;
  position: relative;
  background-color: #0096dc;
  font-size: 2rem;
  color: #fff;
  border-radius: 8px;
  border: 16px solid #fff;
  z-index: 5;
  box-shadow: -6px 6px 0 rgb(0 0 0 / 70%);
}

.container-content {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
 margin: auto;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  box-sizing: content-box;
  border-radius: 9px 9px 0 0;
}

.button-header-primary,
.button-header-secondary {
  height: 4rem;
    width: 100%;
  border: none;
  cursor: pointer;
  font-size: 2rem;
    font-weight: 600;
    box-sizing: border-box;
  }
}


.button-header-primary {
  color: #fff;
  background-color: #0096dc;
}

.button-header-secondary {
  color: #0096dc;
  background-color: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation-background {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes move-cloud {
  0% {
    transform: translateX(999px) scale(1.5) translateY(10px);
  }

  50% {
    transform: scale(0.5) translateY(-90px);
  }

  100% {
    transform: translateX(-999px) scale(1.5) translateY(10px);
    margin-top: 60px;
  }
}
