:root {
  --uno-red-color: #d72600;
  --uno-blue-color: #0956bf;
  --uno-green-color: #379711;
  --uno-yellow-color: #ecd407;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  min-width: 0;
  -webkit-font-smoothing: antialiased;
}



body,
#root {
  height: 100vh;
  color: #fff;
}

body {
  font-family: Cabin, sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #fff;
}

body{
  font-family: Cabin, sans-serif;
}

button {
  color: inherit;
  cursor: pointer;
}
