:root {
  --uno-red-color: #d72600;
  --uno-blue-color: #0956bf;
  --uno-green-color: #379711;
  --uno-yellow-color: #ecd407;
}


*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  -webkit-font-smoothing: antialiased;
}

body,
#root {
  height: 100vh;
  color: #fff;
}

body{
  font-family: 'Cabin', sans-serif;
}

button {
  color: inherit;
}
