
.form {
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 2;
  animation: fade-in 260ms ease-in;
}

.button-header-primary,
.button-header-secondary {
  height: 5rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  animation: zoom 200ms ease;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group,
label,
input {
  width: 100%;
}

.input-group label input {
  padding: 1rem;
  height: 2.56rem;
  border: none;
  box-shadow: -4px 4px 0 rgb(0 0 0 / 70%);
  border-radius: 8px;
}

.input-group label {
  display: flex;
  flex-direction: column;
  gap: 0.68rem;
  border-radius: 8px;
}

.button-form {
  background-color: #ed1c24;
  width: 100%;
  height: 2.56rem;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1.5rem;
  animation: zoom 450ms ease;
  box-shadow: -4px 4px 0 rgb(0 0 0 / 70%);
}

.button-form:hover {
  background-color: #f14f56;
  transition: ease-in 100ms;
  cursor: pointer;
}

.form-error {
  font-size: 0.75rem;
  font-weight: bold;
  color: #ed1c24;
}

.input-error {
  border: #ed1c24 2px solid !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation-background {
  0% {
    background-position: 0% 5%;
  }

  50% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes move-cloud {
  0% {
    transform: translateX(999px) scale(1.5) translateY(10px);
  }

  50% {
    transform: scale(0.5) translateY(-90px);
  }

  100% {
    transform: translateX(-999px) scale(1.5) translateY(10px);
    margin-top: 60px;
  }
}
